


@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SystemAsset02.ViewModel.CreateRoleViewModel
<h1>CreateRole</h1>




<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger">

            </div>
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit </button>
        </form>
    </div>

</div>
